$emir: (
    footer-background-color: #33363E !important,
    footer-color: #bdbdbd !important, 
    link: #61afef !important,
    link-hover: #1E2126 !important,
    title-color: #61afef !important,
    meta-color: #98c379 !important,
    body-color: #98c379 !important,
    hr-color: #595B5C !important,
    body-background-color: #282C34 !important,
    backdrop-background-color: #1E2126 !important,
    dropdown-border-top-color: #424242 !important,
    dropdown-item-active-background-color: #424242 !important,
    dropdown-content-background-color: #595B5C !important,
    dropdown-item-hover-background-color: #727072 !important,
    dropdown-item-hover-color: #98c379 !important,
    dropdown-item-color: #98c379 !important,    
    navbar-border-bottom-color: #282C34 !important,
    navbar-background-color: #33363E !important,
    navbar-mobile-background-color: #3a3a3a !important,
    navbar-title-color: #fff !important,
    navbar-title-hover-color: #61afef !important,
    navbar-title-active-color: #1E2126 !important,
    navbar-menu-hover-background-color: lighten(#33363E, 5%) !important,
    navbar-dropdown-item-hover-color: #61afef !important,
    sidebar-title-color: #aed581 !important,
    sidebar-li-color: #98c379 !important,
    taxo-title-color: #bdbdbd !important,
    taxo-num-color: #98c379 !important,
    taxo-num-background-color: #1E2126 !important,
    taxo-tags-background-color: lighten(#1E2126, 13%) !important,
    taxo-tags-color: #78DCE8 !important,
    taxo-series-background-color: lighten(#1E2126, 13%) !important,
    taxo-series-color: #EA9C77 !important,
    taxo-categories-background-color: lighten(#1E2126, 13%) !important,
    taxo-categories-color: #AB9DF2 !important,
    breadcrumb-item-color: #82aaff !important,
    breadcrumb-background-color: #1E2126 !important,
    breadcrumb-item-active-color: #bdbdbd !important,
    list-header-title-color: #98c379 !important,
    figcaption-color: #bdbdbd !important,
    figcaption-strong-color: #98c379 !important,
    single-hr-background-color: #595B5C !important,
    single-blockquote-border-color: #98c379 !important,
    single-header-title-color: #98c379 !important,
    single-contents-title-color: #aed581 !important,
	single-contents-subtitle-color: #98c379 !important,
    related-header-title-color: #98c379 !important,
    related-link-color: #A9DC76 !important,
    content-box-border-color: #616161 !important,	
    content-box-background-color: #33363E !important,
    burger-menu-color: #98c379 !important,
    social-icon-color: #78DCE8 !important,
    social-icon-hover-color: lighten(#bdbdbd, 20%) !important,
    pagination-link-color: #82aaff !important,
    pagination-background-color: #1E2126 !important,
    pagination-disabled-color: #757575 !important,
    pagination-number-color: #98c379 !important,
    terms-title-color: #727072 !important,
	terms-title-shadow-color: #33363E !important,
    terms-tags-color: #78DCE8 !important,
    terms-categories-color: #AB9DF2 !important,
    terms-series-color: #EA9C77 !important,
    terms-len-color: #727072 !important,
    toc-label-color: #727072 !important,
    toc-title-color: #90a4ae !important,
    toc-vertical-line: #727072 !important,
    toc-vertical-line-active: #1E2126 !important,
	toc-header-background-color: #33363E !important,	
    toc-header-background-color-hover: #424242 !important,	
    toc-body-background-color: #33363E !important,
    search-placeholder-color: #727072 !important,
    search-color: #98c379 !important,
    search-icon-color: #727072 !important,
    search-border-color: #1e1e1e !important,
	search-border-outline-color: rgba(66, 66, 66, 0.45) !important,	
    search-border-active-color: #424242 !important,
    search-content-color: inherit !important,
    search-background-color: #1E2126 !important,
    search-content-background-color: lighten(#33363E, 5%) !important,
    search-hover-background-color: #727072 !important,
	search-highlight-color: #1E2126 !important,
    selection-color: #98c379 !important,
    selection-background-color: #1E2126 !important,
    archive-key-color: #98c379 !important,
    archive-type-color: #82aaff !important,
    archive-meta-color: #aed581 !important,
    archive-key-background-color: #1E2126 !important,
    archive-type-background-color: #424242 !important,
    archive-hover-line-color: #1E2126 !important,
    gtt-color: #bdbdbd !important,
    gtt-background-color: #33363E !important,
    gtt-hover-color: #82aaff !important,
    gtt-hover-background-color: lighten(#33363E, 5%) !important,
    switch-background-color: #33363E !important,
    switch-button-color: #98c379 !important,
    switch-active-color: #1E2126 !important,
    gallery-mask-color: #98c379 !important,
    gallery-mask-background-color: rgba(0, 0, 0, 0.7) !important,
    contact-input-color: #98c379 !important,
    contact-input-background-color: lighten(#33363E, 5%) !important,
    contact-button-background-color: lighten(#33363E, 5%) !important,
	custom-scrollbar-foreground-color: #888 !important,	
    custom-scrollbar-background-color: #eee !important,	
    share-color: #dbdbdb !important,	
    share-shadow-color: #888 !important,	
    share-background-color: lighten(#33363E, 2.5%) !important,	
    donation-background-color: #525252 !important,
    button-primary-color: $button_dark_primary_color,
);